@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css);
@import url(../font/NEXON\ Lv1\ Gothic\ OTF.otf);
@import url(../font/NEXON\ Lv1\ Gothic\ OTF\ Light.otf);
@import url(../font/NEXON\ Lv1\ Gothic\ OTF\ Bold.otf);

body {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-family: 'NEXON Lv2 Gothic', sans-serif;
}

h1,h2,h3 {
    font-family: 'NEXON Lv2 Gothic Bold';
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
    color: #222;
}

.main-container h2{
    font-size: 66px;
    font-family: 'NEXON Lv2 Gothic Bold';
    padding-bottom: 50px;
}


.main-container h4{
    font-size: 66px;
    font-family: 'NEXON Lv2 Gothic Regular';
    font-weight: 300;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: #222;
}

p{
    font-family: 'NEXON Lv2 Gothic Light';
    letter-spacing: -0.1em;
}

.container {
    min-width: 1441px;
}

header {
    width: 100%;
    letter-spacing: -0.1em;

}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}   