header .gnb {
    background: white;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    /* align-items: center; */
    z-index: 199;
}
header .gnb .logo {
    margin-top: 12px;
    margin-left: 70px;
    float: left;
}
header .gnb ul.menu{
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .gnb .menu ul {
    float: left;
    display: flex;
    margin: 0 auto;
}
header .gnb .menu li:first-child{
    margin-left: 0px;
}
header .gnb .menu li{
    margin-left: 75px;
}
header .gnb .menu li:last-child{
    margin-right: 220px;
}



header .gnb .menu li a {
    font-size: 21px;
    display: block;
    padding: 0;
    color: #222;
    text-decoration: none;
    font-family: 'NEXON Lv2 Gothic Bold';
    position: relative;
    font-weight: 700;
}

header .language-select{
    margin: auto 65px auto 0;
    height: 13px;
    background: black;
    padding: 8px 12px;
    border-radius: 30px;
    position: absolute;
    right: -20px;
    top: 17px;
    
}
header .language-select a{
    color: #fff;
    opacity: 0.3;
    word-spacing: 6px;
}
header .language-select::before{
    content: '|';
    width: 1px;
    height: 10px;
    background: #fff;
    opacity: 0.3;
    position: absolute;
    right: 42px;
    top: 15;
}
header .language-select a:first-child{
    margin-right: 20px;
}


header .language-select a:hover{
    opacity: 1;
}
header .fulldown-menu{
    background: rgb(248, 248, 248);
    position: absolute;
    top: 50px;
    width: 100%;
    top: 70px;
    padding-bottom: 40px;
    transform: translateY(-400px);
}
header .fulldown-menu .inner{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

header .fulldown-menu ul:nth-child(1){
    margin-right: 85px;
}
header .fulldown-menu ul:nth-child(2){
    margin-right: 35px;
}
header .fulldown-menu ul:nth-child(3){
    margin-right: 90px;
}
header .fulldown-menu ul:nth-child(4){
    margin-right: 65px;
}

header .fulldown-menu ul li a{
    color: #666;
    font-size: 15px;
    line-height: 35px;
}
header .fulldown-menu ul li a:hover{
    color: black;
}

/* main-container */
.main-container{
   max-width: 100vw;
   width: 100%;
   /* background: orange; */
}
/* movie */
.main-container .movie{
    height: 550px;
    width: 100vw;
    overflow: hidden;
    z-index: 5;
}
.main-container .movie .movie-box{
    height: auto;
    width: 100%;
}

/* mid-title */
.main-container .mid-title{
    /* background: skyblue; */
    width: 100%;
    z-index: 10;
    padding-top: 100px;
}
.main-container .mid-title .inner{
    width: 95%;
    margin: 0 auto;
    /* background: yellow; */
    text-align: center;
    box-sizing: border-box;
}
.main-container .mid-title .inner h2{
    font-family: 'NEXON Lv2 Gothic Bold';
    font-weight: 700;
}
.main-container .mid-title .inner h4{
    padding-bottom: 20px;
}

.main-container .mid-title .inner .bar {
    display: block;
    margin: 0 auto;
    width: 1px;
    height: 50px;
    background: #222;
}

.inner:after {
    content: "";
    clear: both;
    display: table;
}

/* bottergames */
.main-container .bettergames{
    width: 100%;
}
.main-container .bettergames .inner{
    width: 86%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main-container .bettergames .inner .img-box{
    width: 60%;
    max-width: 900px;
}
.main-container .bettergames .inner .img-box img{
    width: 100%;
}
.main-container .bettergames .inner .text-box{
    width: fit-content;
    min-width: 550px;
    padding-top: 280px;
    font-size: 30px;
    padding-bottom: 55px;
    margin-left: 100px;
    line-height: 1.6em;
    font-weight: bold;
}
.main-container .bettergames .inner .text-box p{
    display: block;
    padding-bottom: 55px;
    font-weight: 500;
}

/* whoweare */
.whoweare{
    width: 100%;
    padding-top: 250px;
    padding-bottom: 380px;
    background-image: url(../img/main_bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.whoweare .inner{
    width: 90%;
    margin: 0 auto;
}
.whoweare .interview{
    display: flex;
    width: 100%;
    margin-right: 100px;
    justify-content: center;
}
.whoweare .inner h2{
    font-weight: 700;
    padding-bottom: 50px;
}
.whoweare .interview .img-box{
    /* background: orange; */
    width: 23%;
    margin-right: 100px;
}
.whoweare .interview .img-box img{
    width: 100%;
    height: 100%;
}
.whoweare .interview .text-box{
    width: 53%;
}
.whoweare .interview .text-box span{
    color: rgb(202,212,1);
    font-size: 18px;
    padding-bottom: 25px;
    font-weight: 700;
}